.container {
    background-color: darkgray;
    margin: 25px;
    padding: 25px;
    border-radius: 25px;
    /* opacity: 80%; */
}

.checkbox-container {
    width: 100%;
}

.filter-checkbox-container {
    display:flex;
    justify-content: space-evenly;
}
.filter-checkbox-container-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}